@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
	background-color: #f5f8fa;
	padding-inline: 15px;
	color: #1d2c3c;
	font-family: "Lato", serif;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	ul {
		display: flex;
		gap: 50px;
		text-decoration: none;
		li {
			list-style: none;
			cursor: pointer;
			button {
				cursor: pointer;
				background-color: #fff;
				border-radius: 5px;
				padding: 5px;
				padding-inline: 15px;
				border-color: #646e7a;
				margin-top: -30px;
				color: #1d2c3c;
			}
		}
	}
}

hr {
	border: 1px solid #e0e6ea;
}
.form hr {
	border: 1px solid #e0e6ea;
	width: 100%;
}
.form h2 {
	padding-inline: 20px;
}
.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.outer-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.form {
	display: flex;
	flex-direction: column;
	border-radius: 10px 0 0 10px;
	gap: 10px;
	margin-top: 20px;
	border: 1px solid rgb(185, 184, 184);
	box-shadow: 5px 5px 5px 5px rgb(185, 184, 184);
	height: 600px;
	width: 400px;
	padding: 10px;
}
.second-form {
	display: flex;
	background-color: #1179bf;
	flex-direction: column;
	border-radius: 0 10px 10px 0;
	gap: 10px;
	margin-top: 20px;
	border: 1px solid rgb(185, 184, 184);
	box-shadow: 5px 5px 5px 5px rgb(185, 184, 184);
	height: 600px;
	width: 200px;
	padding: 10px;
	color: white;
	padding-inline: 25px;
}

.form-first-header {
	display: flex;
	gap: 10px;
	h4 {
		margin-top: 0px;
	}
}

.form-row {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}
.form-row label {
	font-size: 13px;
}

.form-row input {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-inline: 4px;
	border: 1px solid #edeff2;
	border-radius: 4px;
	font-size: 16px;
	margin-top: 5px;
	background: #edeff2;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
}

button {
	background: #038e7d;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.second-form span {
	font-size: 50px;
}
i {
	font-size: 12px;
}
.services {
	display: flex;
	align-items: center;
	gap: 10px;
}
.services p {
	font-size: 12px;
}
.services img {
	width: 15px;
}
.services-container {
	line-height: 1px;
}
.text {
	font-size: 13px;
	margin: 0;
}
.second-form hr {
	border: 1px solid #e0e6ea;
	width: 100%;
	margin-top: 40px;
}
.user-container {
	margin-top: 20px;
	display: flex;
	gap: 10px;
	p {
		margin-top: 5px;
	}
    img {
        width: 30px;
    }
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	margin-top: 20px;
	p {
		font-size: 13px;
	}
}
